{
	"name": "@interceptor/domain-{{DOMAIN_NAME}}",
	"version": "0.0.1",
	"type": "module",
	"main": "./src/index.ts",
	"exports": {
		".": "./src/index.ts"
	},
	"dependencies": {
		"@interceptor/browser": "workspace:*",
		"@interceptor/shared": "workspace:*",
		"zod": "4.3.6"
	},
	"devDependencies": {
		"@types/node": "25.5.0",
		"typescript": "5.9.3"
	}
}
